@font-face {
  font-family: 'icomoon';
  src:  url('/assets/icomoon/fonts/icomoon.eot?s1uv1t');
  src:  url('/assets/icomoon/fonts/icomoon.eot?s1uv1t#iefix') format('embedded-opentype'),
    url('/assets/icomoon/fonts/icomoon.ttf?s1uv1t') format('truetype'),
    url('/assets/icomoon/fonts/icomoon.woff?s1uv1t') format('woff'),
    url('/assets/icomoon/fonts/icomoon.svg?s1uv1t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-bottom-01:before {
  content: "\e900";
}
.icon-align-bottom-02:before {
  content: "\e901";
}
.icon-align-horizontal-centre-01:before {
  content: "\e902";
}
.icon-align-horizontal-centre-02:before {
  content: "\e903";
}
.icon-align-left-01:before {
  content: "\e904";
}
.icon-align-left-02:before {
  content: "\e905";
}
.icon-align-right-01:before {
  content: "\e906";
}
.icon-align-right-02:before {
  content: "\e907";
}
.icon-align-top-arrow-01:before {
  content: "\e908";
}
.icon-align-top-arrow-02:before {
  content: "\e909";
}
.icon-align-vertical-center-01:before {
  content: "\e90a";
}
.icon-align-vertical-center-02:before {
  content: "\e90b";
}
.icon-columns-01:before {
  content: "\e90c";
}
.icon-columns-02:before {
  content: "\e90d";
}
.icon-columns-03:before {
  content: "\e90e";
}
.icon-distribute-spacing-horizontal:before {
  content: "\e90f";
}
.icon-distribute-spacing-vertical:before {
  content: "\e910";
}
.icon-divider:before {
  content: "\e911";
}
.icon-flex-align-bottom:before {
  content: "\e912";
}
.icon-flex-align-left:before {
  content: "\e913";
}
.icon-flex-align-right:before {
  content: "\e914";
}
.icon-flex-align-top:before {
  content: "\e915";
}
.icon-grid-01:before {
  content: "\e916";
}
.icon-grid-02:before {
  content: "\e917";
}
.icon-grid-03:before {
  content: "\e918";
}
.icon-grid-dots-blank:before {
  content: "\e919";
}
.icon-grid-dots-bottom:before {
  content: "\e91a";
}
.icon-grid-dots-horizontal-center:before {
  content: "\e91b";
}
.icon-grid-dots-left:before {
  content: "\e91c";
}
.icon-grid-dots-outer:before {
  content: "\e91d";
}
.icon-grid-dots-right:before {
  content: "\e91e";
}
.icon-grid-dots-top:before {
  content: "\e91f";
}
.icon-grid-dots-vertical-center:before {
  content: "\e920";
}
.icon-intersect-circle:before {
  content: "\e921";
}
.icon-intersect-square:before {
  content: "\e922";
}
.icon-layer-single:before {
  content: "\e923";
}
.icon-layers-three-01:before {
  content: "\e924";
}
.icon-layers-three-02:before {
  content: "\e925";
}
.icon-layers-two-01:before {
  content: "\e926";
}
.icon-layers-two-02:before {
  content: "\e927";
}
.icon-layout-alt-01:before {
  content: "\e928";
}
.icon-layout-alt-02:before {
  content: "\e929";
}
.icon-layout-alt-03:before {
  content: "\e92a";
}
.icon-layout-alt-04:before {
  content: "\e92b";
}
.icon-layout-bottom:before {
  content: "\e92c";
}
.icon-layout-grid-01:before {
  content: "\e92d";
}
.icon-layout-grid-02:before {
  content: "\e92e";
}
.icon-layout-left:before {
  content: "\e92f";
}
.icon-layout-right:before {
  content: "\e930";
}
.icon-layout-top:before {
  content: "\e931";
}
.icon-list:before {
  content: "\e932";
}
.icon-maximize-01:before {
  content: "\e933";
}
.icon-maximize-02:before {
  content: "\e934";
}
.icon-minimize-01:before {
  content: "\e935";
}
.icon-minimize-02:before {
  content: "\e936";
}
.icon-rows-01:before {
  content: "\e937";
}
.icon-rows-02:before {
  content: "\e938";
}
.icon-rows-03:before {
  content: "\e939";
}
.icon-spacing-height-01:before {
  content: "\e93a";
}
.icon-spacing-height-02:before {
  content: "\e93b";
}
.icon-spacing-width-01:before {
  content: "\e93c";
}
.icon-spacing-width-02:before {
  content: "\e93d";
}
.icon-table:before {
  content: "\e93e";
}
