@tailwind base;
@tailwind components;
@tailwind utilities;

/*Headings font: Saira Condensed*/
@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('/assets/fonts/SairaCondensed/SairaCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*Headings font: Body font: Roboto Condensedd*/

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    @apply bg-blue-00 font-roboto;
}

::selection {
    color: white !important;
    background-color: #1aa6f180 !important;
}


@layer components {
    .btn {
        @apply px-3 py-2 text-sm text-white bg-blue-200 rounded-md font-roboto;
    }

    .card {
        @apply p-3 rounded-lg bg-white h-[427px];
    }

    /* BUTTONS*/

    .xl {
        @apply px-6 py-4 text-button1;
    }

    .large {
        @apply px-5 py-3 text-button1;
    }

    .medium {
        @apply px-5 py-[10px] text-button2;
    }

    .filter-width { 
         @apply px-8 py-[10px] text-button2;
    }

    .small {
        @apply px-3 py-2 text-button2;
    }

    .xs {
        @apply px-3 py-2 text-button3;
    }

    .btn-primary {
        @apply font-saira bg-blue-600 font-bold text-white rounded-[6px];
        transition: background-color 0.2s ease-in-out;
    }

    .btn-primary:hover {
        @apply bg-blue-700;
    }

    .btn-primary:focus {
        @apply bg-blue-800;
    }

    .btn-primary:disabled {
        @apply bg-neutralBlue-300 cursor-not-allowed pointer-events-none;
    }

    .btn-secondary,
    .btn-nofocus,
    .btn-variations {
        @apply font-saira bg-white font-bold text-gray-900 rounded-[6px] border-[1.5px] border-solid border-blue-300;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.8s ease-in-out;
    }

    .active-variation {
        @apply bg-blue-800 hover:bg-blue-800 text-white border-blue-800;
    }

    .btn-secondary:hover,
    .btn-nofocus:hover {
        @apply bg-blue-50;
    }

    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-nofocus:active,
    .btn-secondary.active {
        @apply text-white bg-blue-800 border-blue-800;
    }

    .btn-secondary:disabled,
    .btn-nofocus:disabled {
        @apply text-white bg-neutralBlue-300 border-neutralBlue-300 cursor-not-allowed pointer-events-none;
    }

    .btn-secondary-focus {
        @apply font-saira font-bold bg-blue-800 border-blue-800 text-white rounded-[6px] border-[1.5px] border-solid;
    }

    .btn-text {
        @apply font-saira font-bold text-blue-300 py-[4px] px-[8px] border-[2px] rounded-[8px] border-solid border-transparent;
        transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    .btn-text:hover {
        @apply text-blue-700;
    }

    .btn-text:focus {
        @apply text-blue-300 border-blue-500 rounded-[8px];
    }

    .btn-text:disabled {
        @apply text-blue-100 cursor-not-allowed pointer-events-none;
    }

    .btn-text-focus {
        @apply text-blue-300 border-[2px] border-solid border-blue-500 rounded-[8px] font-roboto font-bold py-[4px] px-[8px];
    }

    .btn-icon-primary {
        @apply flex items-center justify-center bg-blue-600 cursor-pointer;
        transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }

    .btn-icon-primary:hover {
        @apply bg-blue-700;
    }

    .btn-icon-primary:focus {
        @apply transition-all duration-200 ease-in-out bg-blue-300 outline-none ring-2 ring-blue-500 ring-offset-2 ring-offset-white;
    }

    .btn-icon-primary:disabled {
        @apply bg-neutralBlue-300 disabled:cursor-not-allowed;
    }

    .btn-icon-primary-focus {
        @apply flex items-center justify-center transition-all duration-200 ease-in-out bg-blue-300 bg-blue-600 outline-none cursor-pointer ring-2 ring-blue-500 ring-offset-2 ring-offset-white;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .btn-icon-secondary {
        @apply flex items-center justify-center bg-white cursor-pointer  border-blue-500 border-[1px];
        transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }

    .btn-icon-secondary:hover {
        @apply bg-blue-50;
    }

    .btn-icon-secondary:active {
        @apply transition-all duration-200 ease-in-out bg-white outline-none ring-2 ring-blue-500 ring-offset-2 ring-offset-white;
    }

    .btn-icon-secondary:disabled {
        @apply bg-neutralBlue-300 border-0 disabled:cursor-not-allowed;
    }

    .btn-icon-secondary-focus {
        @apply flex items-center justify-center bg-white cursor-pointer border-blue-500 border-[1px] outline-none ring-2 ring-blue-500 ring-offset-2 ring-offset-white transition-all duration-200 ease-in-out;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .circle-xl {
        @apply rounded-full w-[52px] h-[52px];
    }

    .circle-large {
        @apply rounded-full w-[48px] h-[48px];
    }

    .circle-medium {
        @apply rounded-full w-[38px] h-[38px];
    }

    .circle-small {
        @apply rounded-full w-[38px] h-[38px];
    }

    .circle-xs {
        @apply rounded-full w-[27px] h-[27px];
    }

    .square-xl {
        @apply rounded-[6px] w-[46px] h-[46px];
    }

    .square-large {
        @apply rounded-[6px] w-[42px] h-[42px];
    }

    .square-medium {
        @apply rounded-[6px] w-[36px] h-[36px];
    }

    .square-small {
        @apply rounded-[6px] w-[32px] h-[32px];
    }

    .square-xs {
        @apply rounded-[6px] w-[28px] h-[28px];
    }

    .icon-xl {
        @apply w-5 h-5;
    }

    .icon-extra {
        @apply w-[18px] h-[18px];
    }

    .icon-extra2 {
        @apply w-[17px] h-[17px];
    }

    .icon-large {
        @apply w-5 h-5;
    }

    .icon-medium {
        @apply w-4 h-4;
    }

    .icon-small {
        @apply w-4 h-4;
    }

    .icon-xs {
        @apply w-3 h-3;
    }

    .custom-blue {
        color: #3f819e;
    }

    .circle-footer {
        @apply flex items-center justify-center transition-colors duration-200 rounded-full bg-blue-50 w-9 h-9 hover:bg-blue-500;
    }

    .circle-page {
        @apply flex items-center justify-center transition-colors duration-200 bg-blue-300 rounded-full w-7 h-7 hover:bg-blue-500;
    }

    .footer-title {
        @apply mb-5 font-bold text-blue-200 uppercase font-saira text-h6-normal;
    }

    .footer-text {
        @apply font-normal text-white font-roboto text-body2;
    }

    /* slike before*/

    .iskaznice::before {
        @apply content-[url(/assets/images/iskaznice.png)] absolute;
        top: -45px;
        left: -220px;
    }

    @media (max-width: 1280px) {
        .iskaznice::before {
            @apply content-[url(/assets/images/iskaznica.png)] absolute;
            top: -20%;
            left: 27%;
        }
    }

    @media (max-width: 640px) {
        .iskaznice::before {
            @apply content-[url(/assets/images/iskaznica.png)] absolute;
            top: -27%;
            left: 22%;
        }
    }

    @media (max-width: 430px) {
        .iskaznice::before {
            @apply content-[url(/assets/images/iskaznica.png)] absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .frame-p {
        @apply pl-5 pr-5;
    }

    .bullet-lista {
        @apply list-disc list-inside;
    }

    .bullet {
        @apply transition-colors duration-200 hover:marker:text-blue-500;
    }

    .link-plavi {
        @apply text-blue-300 transition-colors duration-200 hover:text-blue-500;
    }

    .link-bijeli {
        @apply text-white transition-colors duration-200 hover:text-blue-500;
    }

    .link-color {
        @apply transition-colors duration-200 hover:text-blue-700;
    }

    .icon-link {
        @apply transition-colors duration-200 group-hover:text-blue-500 hover:text-blue-500;
    }

    .header-text {
        @apply font-medium text-white font-saira text-body1 link-bijeli;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    p {
        @apply text-gray-900;
    }

    .heading {
        @apply font-semibold text-white uppercase font-saira text-nav-heading link-bijeli;
    }

    .heading-sub {
        @apply font-medium text-white font-saira text-nav-heading link-bijeli;
    }

    .heading-subtitle {
        @apply font-medium text-blue-200 font-saira text-nav-subtitle;
    }

    .divider {
        @apply max-w-[46px] text-white opacity-25;
    }

    .btn-size {
        @apply w-[42px] h-[42px] flex justify-center py-3 px-5;
    }

    .account-frame-items {
        @apply px-4 text-sm font-medium text-white uppercase dark:text-white font-saira;
    }

    .account-login-btn {
        @apply btn-primary justify-center uppercase hover:dark:bg-blue-700 focus:dark:bg-blue-800 dark:hover:text-white dark:hover:rounded-[6px];
    }

    .account-transparent {
        @apply text-white dark:hover:text-white dark:text-white dark:hover:bg-transparent hover:bg-transparent focus:bg-transparent active:bg-transparent;
    }

    .mobile-nav {
        @apply font-medium tracking-wider uppercase font-saira text-nav-heading link-bijeli;
    }

    /* ulaz */
    .reveal-enter-active {
        @apply transition-all duration-500 ease-out delay-200;
    }

    /* izlaz */
    .reveal-leave-active {
        @apply transition-all duration-75 ease-in;
    }

    .reveal-enter-from {
        @apply translate-y-3 opacity-0;
    }

    .reveal-enter-to {
        @apply translate-y-0 opacity-100;
    }

    .reveal-leave-from {
        @apply translate-y-0 opacity-100;
    }

    .reveal-leave-to {
        @apply translate-y-3 opacity-0;
    }

    .notification-banner {
        @apply w-fit bg-white shadow-lg rounded-lg p-3 relative flex items-center justify-between gap-3;
    }
}

.swiper-initialized {
    padding-bottom: 3rem;
}

.swiper-pagination-bullet-active {
    background-color: #013958 !important;
}

.swiper-pagination-bullet {
    background-color: #ced7de;
    opacity: 1;
}

li::marker {
    color: #000000;
    transition: color 0.2s ease;
}

.container2 {
    max-width: 1436px;
}

.bg-igraci {
    background-image: url('/assets/images/backgrounds/bg-igraci.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.bg-goal {
    background-image: url('/assets/images/backgrounds/bg-goal.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

@media (max-width: 767px) {
    .bg-igraci,
    .bg-goal {
        background-size: auto;
    }

    
}

.con-height {
    @apply pt-36 lg:pt-52;
}


@media (max-width: 639px) {
   
}

@media (max-width: 767px) {
  .card {
        @apply h-fit;
    }
}